.switch {
  margin-top: 33px;
  margin-bottom: 33px;
}

.meetsList {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.meetsItem {
  margin-top: 35px;
}

.meetsItem:first-child {
  margin-bottom: 35px;
}