.container {
  max-width: 1081px;
  margin-left: auto;
  margin-right: auto;
}

.meetsList {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.meetsItem {
  margin-top: 35px;
}

.meetsItem:last-child {
  margin-bottom: 35px;
}
.inputText{
  background: #FFFFFF;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  width: 271px;
  height: 32px;
  border: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;  
  color: #9E9A9A;
  box-sizing: border-box;
  padding: 0 26px 0 10px;
}
.inputText:focus{
  outline: 3px solid #057402;

}
.filter{
  display: flex;
  background-color: #64C661;
  width: inherit;
  height: 67px;
  border-radius: 44px;
  box-shadow: 0px 2.54305px 5.08609px rgba(0, 0, 0, 0.25);
  align-items: center;
  box-sizing: border-box;
  padding: 0 23px;
  justify-content: space-between;
}
.inputContainer{
  display: flex;
}
.inputCity{
  position: relative;
  margin-right: 20px;
}
.button{
  background: #EDFFEC;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 66px;
  width: 84px;
  height: 29px;
  color:#64C661;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  border: 0;
}
.button:active{
  background: #d3e8d2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  
}
.inputIcon{
  position: absolute;
  top:4px;
  right: 4px;
}
.date{
  background-color: #FFFFFF;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  border: 0;
  width: 151px;
  height: 32px;
  box-sizing: border-box;
  padding: 7px;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;  
  color: black;
 
}
.date:focus{
  outline: 3px solid #057402;
}
.date::-webkit-calendar-picker-indicator {
 opacity: 0;
}
.inputDate{
  position: relative;
}
