.decoration{
    background:repeat url("../../../public/assets/images/background.png");
    background-size: cover;
    width: 60%;
    height: 100%;
    z-index: -1;
}
.title{
    width: 394px;
    margin-bottom: 17px;
}
.mainTitle{
    color: #FFFFFF;
    font-family: 'Anton';
    font-weight: 400;
    font-size: 61px;
    line-height: 100%;
}
.subTitle{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}
.container{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    max-width: 100%;
    background: radial-gradient(101.76% 691.74% at 101.76% 67.65%, #057402 0%, #64C661 44.06%, rgba(200, 254, 199, 0) 100%);
}